.App {
  display: flex;
}

.navlink {
  color: #e0e0e0;
  text-decoration: none;
}

.page__people {
  text-decoration: none;
}

.css-2b097c-container { 
  width: 800px;
}

.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 100%;
  width: 420px;
  position: relative;
}

ClassActive {
  border: 1px solid black;
}